body {
  background-color: #212121;
  font-family: "Kanit", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
}

html {
  height: 100%;
}

#input-city {
  background-color: #2c2c2c;
  width: 50%;
  line-height: 40px;
  font-size: 20px;
  border-style: none;
  outline-style: none;
  border-radius: 15px;
  text-indent: 15px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.9);
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 50%;
}

#weather-info {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#mainP {
  font-size: 10rem;
  margin: 0;
}

#locationP {
  margin-left: auto;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 50px;
}

#feels_like {
  font-size: 1.5rem;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#slider-container {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

i {
  text-align: center;
  font-size: 2rem;
  margin-top: 15px;
}
